In [1]:
import pandas as pd

In [30]:
df = pd.read_csv("sorted_data\colony_6_data_vid_1.csv")

In [31]:
df.drop(columns= {"Unnamed: 0",		"frame",	"video"	,"colony"	,"date",	"t"}, inplace= True)

In [33]:
df["x"] = df["x"]/2

In [34]:
df["y"] = df["y"]/2

In [36]:
df.to_csv("normalised_colony_6_data_vid_1.csv")

In [40]:
df = pd.read_csv("sorted_data\colony_6_data_vid_1.csv")
df.drop(columns= {"Unnamed: 0",		"frame",	"video"	,"colony"	,"date",	"t"}, inplace= True)
df["x"] = df["x"]
df["y"] = df["y"]
df.to_csv("normalised_colony_6_data_vid_1.csv")

In [41]:
df_new = pd.read_csv("sorted_data\colony_1_data_vid_4.csv")
df_new.drop(columns= {"Unnamed: 0",		"frame",	"video"	,"colony"	,"date",	"t"}, inplace= True)
df_new["x"] = df["x"]
df_new["y"] = df["y"]
df_new.to_csv("normalised_colony_1_data_vid_4.csv")

In [50]:
df_col6_vid4 = pd.read_csv("sorted_data\colony_6_data_vid_4.csv")

In [51]:
df_col6_vid4['x'].isnull().sum()

0

In [48]:
df_col1_vid4[df_col1_vid4["ant"] == 2]

       Unnamed: 0  ant      x      y
0               0    2  288.0  816.0
1               1    2  292.0  832.0
2               2    2  320.0  832.0
3               3    2  344.0  828.0
4               4    2  356.0  828.0
...           ...  ...    ...    ...
38892       38892    2    NaN    NaN
38893       38893    2    NaN    NaN
38894       38894    2    NaN    NaN
38895       38895    2    NaN    NaN
38896       38896    2    NaN    NaN

[128 rows x 4 columns]

In [44]:
x_28_col1_vid4 = list(df_col1_vid4[df_col1_vid4["ant"] == 28]["x"])