In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sorted_data\colony_6_data_vid_1.csv")

In [3]:
df.drop(columns= {"Unnamed: 0",		"frame",	"video"	,"colony"	,"date",	"t"}, inplace= True)

In [4]:
df

     ant     x    y
0     14   288  816
1     14   292  832
2     14   320  832
3     14   344  828
4     14   356  828
..   ...   ...  ...
547   20  1044  232
548   20  1044  232
549   20  1044  236
550   20  1036  236
551   20  1028  244

[552 rows x 3 columns]

In [9]:
df["x"] = df["x"]/3

In [10]:
df["y"] = df["y"]/3

In [11]:
df

     ant          x          y
0     14   8.000000  68.000000
1     14   8.111111  69.333333
2     14   8.888889  69.333333
3     14   9.555556  69.000000
4     14   9.888889  69.000000
..   ...        ...        ...
547   20  29.000000  19.333333
548   20  29.000000  19.333333
549   20  29.000000  19.666667
550   20  28.777778  19.666667
551   20  28.555556  20.333333

[552 rows x 3 columns]

In [24]:
df.to_csv("normalised_colony_6_data_vid_1.csv")

In [12]:
temp = pd.read_csv("temperature.csv")

In [15]:
temp.rename(columns= {"24" : "Temp"}, inplace= True)

In [24]:
temp['Temp'] = temp['Temp'].round().astype(int)

In [25]:
temp

     Temp
0      24
1      24
2      24
3      24
4      24
..    ...
408    21
409    21
410    21
411    21
412    21

[413 rows x 1 columns]

In [22]:
temp.to_csv("temperature.csv")

In [23]:
for i in temp["Temp"]:
    print(i)

24
24
24
24
24
24
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
10
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
8
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
19
19
19
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21